---
import { Image } from 'astro:assets';
import LogoImage from '@/images/logo.png';
import App from '@/App.tsx';
import masyaAlpha from '@/images/masya-alpha.png';
import GithubIcon from '@/icons/Github.astro';
import TwitterIcon from '@/icons/Twitter.astro';
import UserInfoIcon from '@/components/UserInfoIcon';
const runtime = Astro.locals.runtime;
const clerkPKey = runtime.env.CLERK_PUBLISHABLE_KEY;
const imageUrl = new URL(LogoImage.src, Astro.url.origin);
const canonicalURL = Astro.site;
const ogTitle = 'Masya - Transforming UI Prototyping with AI Tech';
const ogDesc =
  'Transform your UI design workflow with Masya. Leverage the power of AI to create responsive HTML interfaces and Tailwind CSS designs quickly and efficiently.';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Masya: AI-Powered UI Prototyping | HTML & TailwindCSS</title>
    <meta
      name="description"
      content="Transform your UI design workflow with Masya. Leverage the power of AI to create responsive HTML interfaces and Tailwind CSS designs quickly and efficiently."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={ogTitle} />
    <meta property="og:description" content={ogDesc} />
    <meta property="og:image" content={imageUrl} />

    <!-- Twitter -->
    <meta name="twitter:creator" content="@_aantipov" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:title" content={ogTitle} />
    <meta property="twitter:description" content={ogDesc} />
    <meta property="twitter:image" content={imageUrl} />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- Analytics -->
    <script
      defer
      data-domain="masya.dev"
      src="https://plausible.io/js/script.js"></script>

    <style is:global>
      #input-form [data-lastpass-icon-root],
      #openai-key-form [data-lastpass-icon-root] {
        display: none !important;
      }
    </style>
  </head>
  <body
    class="min-w-[1024px] bg-gray-800 font-sans leading-normal tracking-normal text-gray-300"
  >
    <div class="h-screen">
      <div class="mx-4">
        <div class="flex h-12 items-center justify-between">
          <Image src={masyaAlpha} alt="Masya.dev" height={40} />
          <div class="flex">
            <a href="https://github.com/aantipov/masya">
              <GithubIcon class="h-8 w-8" />
            </a>
            <a class="ml-2" href="https://twitter.com/_aantipov">
              <TwitterIcon class="h-8 w-8" />
            </a>
            <div class="ml-2">
              <UserInfoIcon client:only />
            </div>
          </div>
        </div>
      </div>

      <App client:only clerkPKey={clerkPKey} />
    </div>

    <footer class="bg-gray-900 py-4 text-center text-white">
      <p>
        Made with <span class="text-red-500">❤️</span> by <a
          class="text-blue-400 hover:text-blue-300"
          href="https://alexei.me/">Alexey Antipov</a
        >
      </p>
    </footer>
  </body>
</html>
